body{
    font-family:"Lucida Console", Monaco, monospace
}

.background{
    background-image:url("https://wallpapercave.com/wp/smlhon0.jpg");
    position:absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#battleLog, #enemyDiv{
    color:white
}