body{
    font-family:"Lucida Console", Monaco, monospace
}

.background{
    background-image:url("https://external-preview.redd.it/jC1FDg-NEd6HYQoYVaiKw4xmjCS1Qg5Tt9JZj1TkY2o.jpg?auto=webp&s=feb82454c6018449afc9540112360de319126e27");
    position:absolute;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#battleLog, #enemyDiv{
    margin: 0 auto;
    width:100%;
    color:white;
    background-color:rgba(0, 0, 0, 0.651);
}

/* #enemyCol{
    background-color:rgba(0, 0, 0, 0.651);
} */

#enemyDiv{
    width:100%
}

#characterSelectionScreen{
    margin:16px
}

#characterDescription{
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.596);
    min-height: 222px
}

h3, h1{
    background-color:white;
    padding:2px, 8px
}

#playerDiv{
    background:rgba(255, 255, 255, 0.438)
}